@using XT.Model
@using XT.Web.External

@{
    var go_index_url = Url.GoIndex();    
}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <h3>Liên hệ:</h3>
                <a href="tel:1900 1080" id="phone">1900 1080</a>
                <a href="mailto:info@homely.vn" id="email_footer">info@homely.vn</a>
            </div>
            <div class="col-md-3 col-sm-3">
                <h3>Homely.vn</h3>
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/tim-kiem">Tìm kiếm</a></li>
                    <li><a href="/dang-nhap">Đăng nhập</a></li>
                    <li><a href="/dang-ky-nguoi-dung">Đăng ký</a></li>
                    <li><a href="/Contact">Liên hệ</a></li>
                    <li><a href="/p/terms">Điều khoản sử dụng</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h3>Khám phá</h3>
                <ul>
                    <li><a href="/tim-kiem/du-an-hot">Dự án hot</a></li>
                    <li><a href="/tim-kiem/du-an-sap-chao-ban">Sắp chào bán</a></li>
                    <li><a href="/tim-kiem/du-an-dang-chao-ban">Đang chào bán</a></li>
                    <li><a href="/tim-kiem/du-an-dang-giao-dich">Đang giao dịch</a></li>
                    <li><a href="/chu-dau-tu">Chủ đầu tư</a></li>
                    <li><a href="http://blog.homely.vn">Blog</a></li>
                </ul>
            </div>

        </div>
        <!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-googleplus"></i></a></li>
                    </ul>
                    <p>© Homely.vn 2015</p>
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>
<div id="toTop" class="hidden-xs" style="display: none;"></div>
