*.cache
.vs/

XT.Model/bin/
XT.Model/obj/
XT.Model.EF/bin/
XT.Model.EF/obj/
XT.Model.LINQ/bin/
XT.Model.LINQ/obj/
XT.Repository/bin/
XT.Repository/obj/
XT.Service/bin/
XT.Service/obj/
XT.Utilities/bin/
XT.Utilities/obj/
XT.Web/bin/
XT.Web/obj/

XT.Model.LINQ/app.config
XT.Model.LINQ/My.dbml
XT.Model.LINQ/My.dbml.layout
XT.Model.LINQ/My.designer.cs
XT.Model.LINQ/Properties/Settings.Designer.cs
XT.Model.LINQ/Properties/Settings.settings

