<connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=DUONG-PC;Initial Catalog=apms.cocome.vn_server_final_aahcm;Persist Security Info=True;User ID=sa;Password=1234567;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
<!--<add name="MyConnectionString" connectionString="Data Source=DUONG-PC;Initial Catalog=apms.homely.vn;Persist Security Info=True;User ID=sa;Password=1234567;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
</connectionStrings>