@*@Html.Partial("../Admin/_partial_Search_Paging")*@

<div class="box-footer clearfix">
    <div class="row">
        <div class="col-sm-4">
            Tổng cộng 100 dữ liệu
        </div>
        <div class="col-sm-8">
            <div class="pagination-container">
                <ul class="pagination">
                    <li class="active"><a>1</a></li>
                    <li><a href="/Admin/ManageDeal?page=2">2</a></li>
                    <li><a href="/Admin/ManageDeal?page=3">3</a></li>
                    <li><a href="/Admin/ManageDeal?page=4">4</a></li>
                    <li><a href="/Admin/ManageDeal?page=5">5</a></li>
                    <li class="PagedList-skipToNext"><a href="/Admin/ManageDeal?page=2" rel="next">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
