@using XT.Web.External

@{
    ViewBag.Title = "[Academic] Quản lý Order Sách của HV";
    var title = ViewBag.Title;
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>@title
        <small>Nguyễn Văn A</small>
    </h1>
    <ol class="breadcrumb low">
        <li><a href="@Url.GoAccountAdminFirstPage()"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="@Url.Action("ManageAcademic_Student")">Danh sách HV</a></li>
        <li class="active">Nguyễn Văn A</li>
    </ol>
</section>
<section class="content">
    <div class="row ajax-search-group">
        <div class="col-md-12">
            <div class="Search_Result">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Order Sách của HV</h3>
                        <div class="box-tools">
                            <button class="btn btn-warning" data-toggle="modal" data-target="#add-modal">
                                <i class="fa fa-plus fa-fw"></i>&nbsp;Order mới
                            </button>
                        </div>
                    </div>
                    @Html.Partial("Search_Result/_partial_Search_Student_BookOrder")
                </div>
            </div>
        </div>
    </div>
</section>