@{
    ViewBag.Title = "ManageAcademic_Module";
    var name = "Module";
    var title = ViewBag.Title;
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>@title</h1>
    <div class="breadcrumb">
        <div style="margin-bottom: 10px; margin-top: 10px;">
            <button class="btn btn-warning" data-toggle="modal" data-target="#add-modal">
                <i class="fa fa-plus fa-fw"></i>&nbsp;@name
            </button>
        </div>
    </div>
</section>
<section class="content">
    <div class="row ajax-search-group">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    @Html.Partial("../Admin/_partial_Search_Form", "")
                </div>
                <div class="col-md-2">
                    <select name="" class="form-control select2">
                        <option value="1">DIM</option>
                        <option value="2">ADIM</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="" class="form-control select2">
                        <option value="1">6608</option>
                        <option value="2">6629</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="" class="form-control select2">
                        <option value="1">Sem 1</option>
                        <option value="2">Sem 2</option>
                        <option value="3">Sem 3</option>
                        <option value="4">Sem 4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="Search_Result">
                @Html.Partial("Search_Result/_partial_Search_" + name, "")
            </div>
        </div>
    </div>
</section>