<script src='https://www.google.com/recaptcha/api.js?hl=vi' async defer></script>

<div class="reCaptchaContainer">
    <div class="g-recaptcha" data-sitekey="@XT.Web.AppSettings.recaptchaPublicKey">
    </div>
</div>
