@using XT.Web.External
@using XT.Web.Models
@using XT.Model

@{
    //ViewBag.form_id = "registersuccess";
    var title = "Kích hoạt tài khoản";
    Layout = "~/Views/Layout/LayoutAccountBySteps.cshtml";
    //ViewBag.SearchHeader = "";

    ViewBag.Title = title;
    ViewBag.Steps = new MyDictionary[] { 
        new MyDictionary{ Name = "Đăng ký", Image = Url.GoAccountRegisterUser() },
        new MyDictionary{ Name = "Kích hoạt tài khoản", Image = "#" },
        new MyDictionary{ Name = "Hoàn tất!", Image = "#" },
    };
    ViewBag.CurrentStep = 1;
    ViewBag.ParentStep = 0;
}

<div class="form_title">
    <h3><strong><i class="icon_set_1_icon-84"></i></strong>Cám ơn bạn đã đăng kí tài khoản tại @XT.Web.AppSettings.Website!</h3>
    <p>
        @Html.GetResource("Account_RegisterSucccess__line24")
    </p>
</div>
<div class="step">
    <p>
        Thông tin kích hoạt tài khoản của bạn sẽ được gửi vào địa chỉ thư điện tử. Vui lòng kiểm tra <b class="text-primary">hộp thư email của bạn</b> và làm theo hướng dẫn để hoàn tất đăng ký!
    </p>
</div>
