@{
    var title = "Report Finance";
    ViewBag.Title = title;
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

@section Scripts{
    @Scripts.Url("~/Scripts/Admin/Index")
}

<section class="content-header">
    <h1>@title
    </h1>
</section>
<section class="content">
    <p class="lead">
        Under Construction
    </p>
</section>
