<!--<configuration>-->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="GenerateSampleData" value="false" />
    <add key="BundleEnableOptimizations" value="true" />
    <add key="ShowErrorPage" value="false" />

    <add key="DefaultAccountAvatar" value="~/Images/default_avatar.jpg" />
    <add key="DefaultAccountCover" value="~/Images/slide_hero.jpg" />
    <add key="DefaultIcon" value="~/Images/utility_cho.png" />
    <add key="DefaultRoomImage" value="~/Images/slide_hero.jpg" />
    <add key="DefaultNoImage" value="~/Images/no_img.jpg" />
    <add key="DefaultPassword" value="@1234567" />

    <add key="RoomValidDate" value="15" />
    <add key="RoomNewDate" value="3" />
    <add key="MapSearchDistrictDistance" value="10" />
    <add key="MapSearchCityDistance" value="500" />
    <add key="MapSearchRoomDistance" value="2" />
    <add key="MapSearchRoomPageSize" value="30" />
    <add key="SearchRoomPageSize" value="18" />
    <add key="HostRoomPageSize" value="6" />
    <add key="RoomReviewPageSize" value="2" />
    <add key="RoomDetailUtilityCount" value="3" />
    <add key="RoomDetailUtilityDistance" value="1" />
    <add key="RoomPriceUnit" value="1000000" />

    <add key="ContactEmail" value="info@homely.vn" />
    <add key="ContactCCEmail" value="" />
    <add key="ContactPassword" value="aptech32d2" />
    <add key="ContactMailServer" value="smtp.gmail.com" />
    <add key="ContactMailPort" value="587" />
    <add key="ContactPhone" value="1900 1080" />
    <add key="EmailAdmin" value="dnhduong910@gmail.com" />
    <add key="Website" value="homely.vn" />
    <add key="EmailInUse" value="true" />

    <add key="FacebookAppID" value="1605228656410808" />
    <add key="recaptchaPublicKey" value="6LczrA8TAAAAABUFVjOj0PCh2ec4KIi-VlLTE2G3" />
    <add key="recaptchaPrivateKey" value="6LczrA8TAAAAAIBz7B0cpHggHx4PNv_mnTO0NgM7" />

    <add key="RegisterCountEnable" value="true" />
    <add key="RegisterCountTime" value="60" />
    <add key="RegisterCount" value="5" />
    <add key="MaxRoomCount" value="5" />

    <!--<add key="RecoverPasswordFinishLink" value="http://localhost:2124/Home/RecoverPasswordFinish" />-->

    <add key="StatisticsRoomFlatsCount" value="10000" />
    <add key="StatisticsUsersCount" value="7135" />
    <add key="StatisticsViewsCount" value="38557" />

    <add key="SizeRage" value="0-50,50-70,70-90,90-120,120" />
    <add key="PriceRage" value="0-600,600-800,800-1200,1200-2000,2000-3000,3000" />
    <add key="PriceRageText" value="" />
    <add key="FlatCountRoom" value="1,2,3,4,5" />
    <add key="p12File" value="/Files/alotro-production.p12" />

    <add key="LandingPage" value="false" />

    <add key="UploadRoomPhotos" value="~/Uploads/RoomPhotos/" />
    <add key="UploadHostPhotos" value="~/Uploads/HostPhotos/" />
    <add key="UploadUserPhotos" value="~/Uploads/UserUploads/" />
    <add key="UploadCommentPhotos" value="~/Uploads/CommentPhotos/" />
    <add key="UploadImagesAdmin" value="~/ImagesAdmin/" />

    <add key="EmailToken" value="AKIAJIHC5IIX7KVB7PMQ" />
    <add key="RootPath" value="apms" />
    <add key="ImportingCenter" value="5" />
  </appSettings>
<!--</configuration>-->