<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XT.Model.Properties.Settings.apms_homely_vnConnectionString"
            connectionString="Data Source=DUONG-PC;Initial Catalog=apms.homely.vn;User ID=sa;Password=1234567"
            providerName="System.Data.SqlClient" />
        <add name="XT.Model.Properties.Settings.apms_homely_vn_demo_1ConnectionString"
            connectionString="Data Source=DUONG-PC;Initial Catalog=apms.homely.vn_demo_1;Persist Security Info=True;User ID=sa;Password=1234567;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="XT.Model.Properties.Settings.apms_cocome_vn_4ConnectionString"
            connectionString="Data Source=DUONG-PC;Initial Catalog=apms.cocome.vn_4;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="XT.Model.Properties.Settings.apms_cocome_vn_5ConnectionString"
            connectionString="Data Source=DUONG-PC;Initial Catalog=apms.cocome.vn_5;Persist Security Info=True;User ID=sa;Password=1234567;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="XT.Model.Properties.Settings.apms_cocome_vn_serverConnectionString"
            connectionString="Data Source=DUONG-PC;Initial Catalog=apms.cocome.vn_server;Persist Security Info=True;User ID=sa;Password=1234567;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="XT.Model.Properties.Settings.apms_cocome_vn_server_finalConnectionString"
            connectionString="Data Source=DUONG-PC;Initial Catalog=apms.cocome.vn_server_final;Persist Security Info=True;User ID=sa;Password=1234567;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="XT.Model.Properties.Settings.apms_cocome_vn_server_final_aahcmConnectionString"
            connectionString="Data Source=DESKTOP-MO33L1P;Initial Catalog=apms.cocome.vn_official;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="XT.Model.Properties.Settings.apms_cocome_vn_officialConnectionString"
            connectionString="Data Source=DESKTOP-MO33L1P;Initial Catalog=apms.cocome.vn_official;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>