@using XT.Web.External

@{
    ViewBag.Title = "[Finance] Quản lý FeePlan";
    var name = "FeePlan";
    var title = ViewBag.Title;
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>@title
    </h1>
    @*<ol class="breadcrumb low">
        <li><a href="@Url.GoAccountAdminFirstPage()"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">@title</li>
    </ol>*@
    <div class="breadcrumb">
        <div style="margin-bottom: 10px; margin-top: 10px;">
            <button class="btn btn-warning" data-toggle="modal" data-target="#add-modal">
                <i class="fa fa-plus fa-fw"></i>&nbsp;@name
            </button>
        </div>
    </div>
</section>
<section class="content">
    <div class="row ajax-search-group">
        <div class="col-lg-12">
            <div class="Search_Result">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            Tổng cộng 6 FeePlan
                        </h3>
                        <div class="box-tools">
                            <select name="" class="form-control select2">
                                <option value="1">Arena HCM</option>
                                <option value="2">Aptech HCM</option>
                            </select>
                            @*<button class="btn btn-warning" data-toggle="modal" data-target="#add-modal">
                                <i class="fa fa-plus fa-fw"></i>&nbsp;@name
                            </button>*@
                        </div>
                    </div>
                    @Html.Partial("Search_Result/_partial_Search_" + name)
                </div>
            </div>
        </div>
    </div>
</section>