@using XT.Model
@using XT.Web.Models

@{
    //Layout = "~/Views/Admin/_partial_Filter_Model.cshtml";
}

<div class="row">
    <div class="col-md-5">
        <div style="margin-bottom: 10px">
            <input type="text" class="form-control" name="Model_Name"
                    placeholder="Nhập tên HV để tìm kiếm...">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.Raw(XT.Web.External.ControlUlti.DropDownListForAll(typeof(StudentAcademicStatusEnum), new { Student_Status = 0 }, name: "Status"))
            @*@Html.DropDownList("Student_Status",
                    new SelectList(MyDictionary.GetValuesWithAll(typeof(StudentAcademicStatusEnum), "Status"), "Id", "Name"),
                    new { @class = "form-control select2", style = "width: 100%;" })*@
        </div>
    </div>
    <div class="col-md-2">
        @Html.DropDownList("Company_Id",
                    new SelectList(LayoutModel.CompaniesAll(), "Id", "Company_Name_Abbrev"),
                    new { @class = "form-control select2", style = "width: 100%;" })
    </div>
    <div class="col-md-2">
        <input type="text" name="End_Date" 
                       value="" placeholder="--Choose Date--" class="form-control monthpicker">
    </div>
</div>
