<form enctype="multipart/form-data" method="post" action="@Url.Action("ImportFaculty", "ManageAcademic")" class="btn-import bg-green">
    <i class="fa fa-upload fa-fw"></i>
    <span>Import Faculty</span>
    <input type="file" class="file" name="uploadFile">
</form>
